################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataAcces/bin
/DataAcces/obj
/PdfProcess/bin
/PdfProcess/obj
/Services/bin
/Services/obj
/PdfProcess/uploads
